.header-container{
    display: flex;

    justify-content: space-between;
    background-color: antiquewhite;
    color: black;

}

.nav-single-button{
    padding: 10px;
    margin: 10px ;
}
.nav-buttons{

    margin: 25px;
    margin-top: 35px;
}

.logo-img{
    margin: 20px;
}